.active {
    color: white;
    background-color: #2196f3;
}

.pointer {
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: rgba(33, 150, 243, 0.2);
}

.no-resize {
    resize: none;
}

.react-photo-gallery--gallery img {
    object-fit: cover;
    max-height: 500px !important;   
}